<div style="text-align:center">
<div>
    <mat-toolbar>
        <mat-toolbar-row style="height: 180px;">
            <div class="site-branding block">
                <img class="custom-logo" src="https://jntuh.ac.in/images/jntuhlogo.png" alt="jntuhlogo" itemprop="logo" height="171">
            </div>
        <div style="margin-left: 25%;">
            <p>JNTUH Job portal</p>
            <p style="font-size: 18px;"> Jawaharlal Nehru Technological University Hyderabad</p>
            <p style="font-size: 16px;">kukatpally, Hyderabad - 500 085 , Telangana , India </p>
        </div>
       
         </mat-toolbar-row>
         </mat-toolbar>
         </div>
       
</div>