<div>
    <mat-grid-list [cols]="3" rowHeight="420px" style="padding: 50px;">
        <mat-grid-tile [colspan]="3" rowspan="2">
            <app-card>
                <mat-grid-tile-header>
                    Apply for JOB
                </mat-grid-tile-header>
                    <table style="color: black;margin: auto;">
                          <tr>
                            <td>
                              <label>Job Role</label>
                            </td>
                            <td>
                              :
                            </td>
                            <td>
                              <input type="text"size="40px" required  name="Job Role"  #name="ngModel"   class="form-control" [(ngModel)]="data.jobs[1]" disabled="true">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label>Job Description</label>
                            </td>
                            <td>
                              :
                            </td>
                            <td>
                              <input type="text"size="40px" required  name="Description" #name="ngModel" class="form-control" [(ngModel)]="data.jobs[2]" disabled="true">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label>Organisation</label>
                            </td>
                            <td>
                              :
                            </td>
                            <td>
                              <input type="text" id="organisation" name="organisation"  size="40px" width="80px" required  name="organisation" #name="ngModel" class="form-control" [(ngModel)]="data.jobs[3]" disabled="true">
                            </td>
                          </tr>
                          
                          <tr>
                            <td>
                              <label>Location</label>
                            </td>
                            <td>
                              :
                            </td>
                            <td>
                              <input type="text" id="Location" name="location"  size="40px" width="80px" required  name="location" #name="ngModel" class="form-control" [(ngModel)]="data.jobs[4]" disabled="true">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label>Date</label>
                            </td>
                            <td>
                              :
                            </td>
                            <td>
                              <input type="date"size="40px" required  name="date" #name="ngModel"  class="form-control" [(ngModel)]="data.jobs[5]" disabled="true">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label>Skills</label>
                            </td>
                            <td>
                              :
                            </td>
                            <td>
                                <input type="text area" size="100px" required name="skills" #name="ngModel" class="form-control" [(ngModel)]="data.jobs[6]" disabled="true">
                              
                             </td> 
                          </tr>
                    </table>
                    <button style="height: 40px;width:80px;margin-left:auto ;margin-right: auto;margin-bottom: 15%;" >Apply</button>
            </app-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>