table,tr{
    align-items: center;
    border: 1px solid rgb(141, 136, 136);
    border-left: none;
    border-right: none;
    border-top: none;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 25%;
  }
td{
    height: 50px;
}
button{
    height: 35px;
    text-align: center;
}