mat-card{
    width: 500px;
    margin: auto;
    margin-top: 4%;
}
td{
    padding-right: 10px;
    padding-left: 50px;
    padding-bottom: 20px;
    height: 30px;
}
/* mat-grid-list{
    background-color:#49688e;
  } */
  mat-grid-tile-header{
    font-weight: bold;
  }
  .mat-card-header{
    background-color:#49688e !important;
    padding:5px !important;
  }
  
   .mat-card{
    padding:0 !important;
    background-color: whitesmoke;
    border: 3px solid rgb(221, 217, 217)
  }
  
  .mat-card-content{
    padding:5px !important;
  }
  body{
    color: black;
  }
  .login{
    margin-top: 20px;
    background-color: #5b9cec;
    color: #000;
  }
  .login:hover{
    background-color: #04397b;
    color: rgb(251, 245, 245);
  }
  .register{
    color: #000;
    margin-top: 15px;
    margin-left: 220px;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #1c1e1f !important
    ;
}
.mat-radio-outer-circle {
  box-sizing: border-box;
  display: block;
 
  left: 0;
  position: absolute;
  top: 0;
  transition: border-color ease 280ms;
 
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: black !important;
}