/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #000;}
.mat-grid-tile .mat-grid-tile-header, .mat-grid-tile .mat-grid-tile-footer {
    background: #04397b !important;
    font-weight: bold;
    font-size: 15px;
}